@model Ecommerce_Project.ViewModels.ProductWithImage

@{
    ViewData["Title"] = "AddProduct";
    SelectList CategoriesOptions = new SelectList(ViewBag.Categories,"Id","Name");
    ViewData["button"] = "Add Product";
    ViewBag.action = "AddProduct";
}

<h1>Add Product</h1>

@{await Html.RenderPartialAsync("_AddEditProduct");}