@model Ecommerce_Project.ViewModels.ProductWithImage

@{
    ViewData["Title"] = "EditProduct";
    SelectList CategoriesOptions = new SelectList(ViewBag.Categories,"Id","Name");
    ViewData["button"] = "Save Changes";
    ViewBag.action = "EditProduct";

}

<h1>Edit Product</h1>

@{await Html.RenderPartialAsync("_AddEditProduct");}